@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
  font-family: Dosis, sans-serif;
  font-size:1.2em;
}

.header,footer {
  padding: 1em;
}
.button2{
  margin-right: 1%;
  background-color: white;
  border: black 1px;
  color: black;
  padding: 5px 10px;
  float: right;
  text-decoration: none;
  display: inline;
  font-size: 13px;
  margin: 5px 3px;
  cursor: pointer;
}
.button1{
  margin-right: 1%;
  background-color: #5c5f6d;
  border: black 1px;
  color: white;
  padding: 5px 10px;
  float: right;
  text-decoration: none;
  display: inline;
  font-size: 13px;
  margin: 5px 3px;
  cursor: pointer;
}
.button1:hover, .button2:hover{
  background-color: #5c5f6d;
  opacity:0.5;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  background:linear-gradient(white, lightgrey, #5c5f6d);
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:black;
}

.nav li a:hover{
  background-color: #bfbdc9;
}

#container {
  max-width: 60em;
  margin: auto;
}

html{
  scroll-behavior: smooth;
}

img {
  width: 40%;
  height: auto;
  padding-bottom: 1%;
  padding-top:2%;
  margin-left: 28%;
}

h2{
  position:absolute;
  top:1px;
  margin: auto;
}
h1{
  text-align: center;
}

p{
  text-indent: 2.5em;
}
article > p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.column{
  float: left;
  width: 45%;
  padding: 10px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  text-transform: none;
  transition-property: background-color;
  transition-duration: 250ms;
}

a:hover {
  background-color: grey;
  color:#b2b1b8;
}

a:active {
  background-color: white;
}

.vid{
  margin:auto;
  display:block;
  width:80%;
  height:auto;
  align-content: center;
}

.cad{
  margin:auto;
  width: 70%;
  height:auto;
  align-content: center;
}
.minnie{
  margin:auto;
  width: 25%;
  height:auto;
  align-content: center;
}
.flex{
  display:flex;
  flex-direction: row;
}
.excel{
  margin:auto;
  display: block;
  width:70%;
  border-style: solid;
  border-width: 1px;
}
.icon{
  display:block;
  float:right;
  width:6%;
  margin-right: 10%;
  padding-bottom: 3%;
}

a:hover, img.icon:hover, .job:hover{
  opacity: 0.6;
}

a:active, img.icon:active, .job:active {
  opacity: 1;
}


h3.color2{
  color: #008882;
}

footer{
  border-top:1px solid black;
  width:100%;
  margin-bottom: 3%;
}

body.dark{
  background-color: #5c5f6d/*#433E49*/ !important;
}
p.dark, ol.dark, ul.dark{
  color:#f0ebf4;
}
footer.dark{
  width: 100%;
  border-top: 1px solid #f0ebf4;
}
a.dark{
  color: #f0ebf4;
}
h1.dark, h2.dark{
  color:white;
}

@media (max-width: 30em) {
  .column{
      width: 95%;
  }
  h2{
    align-content: center;
  }
  img.icon{
    width:12%;
  }
  .button1, .button2{
    float:right;
    margin-top: 5%;

  }
  .flex{
    display:flex;
    flex-direction: column;
  }

}

@media (min-width: 45em) {

  body {
    grid-template-columns: 1fr 1fr;
  }
   .nav {
    flex-direction: row;
    height: 3%;
    position: sticky;
    top: 0;
    justify-content: center;
  }

  article {
    padding-top: 0;
  }
  img.icon{
    width:6%;
  }

}